/* Tela de Celular */
@media screen and (min-width: 360px)
{
    header
    {
        position: static;
    }
    header h1
    {
        font-size: 40px;
    }
    .conteudo
    {
        max-width: 375px;
    }
    .conteudo img
    {
        height: 225px;
    }
    .card
    {
        margin-top: 30px;
    }
    #title-section
    {
        margin-bottom: 0px;
        font-size: 40px;
    }
    #destaques, #aviao, #onibus
    {
        padding: 50px;
    }
}

/* Tela de tablet */
@media screen and (min-width: 768px)
{
    header
    {
        position: static;
    }
    header h1
    {
        font-size: 70px;
    }
    .conteudo
    {
        max-width: 768px;
    }
    .conteudo img
    {
        height: 350px;
    }
    .card
    {
        margin-top: 30px;
    }
    #title-section
    {
        margin-bottom: 0px;
    }
    #destaques, #aviao, #onibus
    {
        padding: 50px;
    }
}

/* Tela de computador */
@media screen and (min-width: 1366px)
{
    header
    {
        position: sticky;
        left: 0;
        margin: 0;
    }
    .conteudo
    {
        max-width: 1366px;
    }
    .conteudo img
    {
        height: 700px;
    }
}